* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 5vw; /* CHANGE TO: 5vw */
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5vw; /* CHANGE TO: 2.5vw */
   font-size:3vw;
   margin-bottom:2vh;
}

p {
  font-size: 2vw; /* CHANGE TO: 2vw */
  line-height: 1.6;
}
.hero {
  height: 100vh; /* CHANGE TO: 100vh */
  background: pink;
  color: white;
}

.card-style{
  border: 5px solid gainsboro;
  margin: 5px;
  color: white;
  height: 100vh; /* CHANGE TO: 100vh */
  background-color: #1a1a2e;
}

/* Compleate challenge down here */
.box-1{
  background-color: orange;
  display: inline-block;
  color:green;
}
.box-2 {
  background-color: purple;
  display: inline-block;
  color:cyan
}
.box-3{
   background-color:pink;
   display: inline-block;
   color:rgb(64, 255, 0)
}
.box-4{
   background-color:black;
   display: inline-block;
   color:greenyellow
}

.box-display {
  display: inline-block;
  width: 24vw;
  height: 300vh;
  padding:1rem;
  font-size: 2rem;
}





